{% extends 'base.html' %}
{% load static %}

{% block title %}apoyo blanco {% endblock %}

{% block content %} 

<br>
<br>
<br>
<html>
<head>
<h1 class="text-center" style="color:darkblue">Quienes Somos<br>Nuestro Blog apoyo blanco</h1>
<br>
<br>
<p style="color:rgb(139, 0, 120); font-size: 20px">Este es un espacio diseñado para que todos puedan conocer quienes somos.</p> 
</head>
<div align="center"><img src=''></div>
<body>
    <p style="color:rgb(139, 0, 120); font-size: 20px">Caracterizamos los procesos de recolección, transporte y venta de los productos agrícolas.</p></h2></body>
<p style="color:rgb(139, 0, 120); font-size: 20px">Implementamos una herramienta que permite a cada una de los participes en el comercio de productos del campo, interactuar de forma directa con sus clientes, para la compra, venta y distribución</p>
<p style="color:rgb(139, 0, 120); font-size: 20px">Creamos una manera capaz de procesar cada solicitud realizada por los usuarios.
     Nuestro Proyecto, se relaciona con la implementación de una aplicación para la comercialización de los productos agrarios, para acercar al productor con el consumidor final, permitiendo el uso de las nuevas tecnologías, y reduciendo los costos de comercialización.</p> 

<p style="color:rgb(139, 0, 120); font-size: 20px">Caracterizamos los procesos de recolección, transporte y venta de los productos agrícolas.</p>
<div align="center"><img src=''></div>
<p style="color:rgb(139, 0, 120); font-size: 20px">Surgimos para facilitar el mecanismo de conexion del campo y la ciudad para la obtencion de alimentos de consumo masivo, y de esta forma facilitar y fomentar tanto el empleo del Productor y a su vez facilitar la economia para el comprador</p>
</html>
{% endblock %}
<br>
<br>
<br>
<br>